/* For mobile phones */
.side-social-media {
  display: none;
}

/* For esktop and large devices */
@media only screen and (min-width: 992px) {
  .side-social-media {
    display: block;
    position: fixed;
    left: 40px;
    bottom: 50%;
  }

  .ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .icon {
    transition: all 0.3s;
  }

  .icon:hover .svg {
    stroke: var(--secondary-color);
    transform: translateY(-10%);
  }
}
