:root {
  --main-color: #0d0d0d;
  --secondary-color: #f2ca52;
  --subtitle-color: #a68d60;
  --fc-paragraph: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-color);
}

strong {
  color: var(--secondary-color);
}

li {
  list-style: none;
}

section {
  padding: 60px 0;
  width: 100%;
}

/* For tablets */
@media only screen and (min-width: 768px) {
  section {
    padding: 80px 0;
  }
}

/* For desktop and large devices */
@media only screen and (min-width: 992px) {
  section {
    padding: 100px 0;
  }
}

h2 {
  font-size: clamp(1.625rem, 5vw, 2rem);
  color: var(--subtitle-color);
}

p {
  font-size: clamp(0.875rem, 5vw, 1.25rem);
  line-height: 1.5;
  color: var(--fc-paragraph);
}

a {
  font-size: clamp(0.875rem, 5vw, 1rem);
  text-decoration: none;
  transition: color 0.4s ease;
  color: var(--subtitle-color);
}

a:hover {
  color: var(--secondary-color);
}

@media (prefers-reduced-motion: no-preference) {
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-5%);
    transition: all 0.5s;
  }
}

.hero-field,
.side-social-media {
  transition-delay: calc(100ms * var(--order));
}

.show {
  filter: blur(0);
  transform: translateX(0);
  opacity: 1;
}
