.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1600px;
  z-index: 100;
  background: rgba(13, 13, 13, 0.85);
  backdrop-filter: blur(5px);
  transform-origin: 0% 0%;
  transform: translate(0, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  display: flex;
  justify-content: center;
}

.header-hidden {
  transform: translate(0, -100%);
}

.header__container {
  width: 90%;
  height: 100%;
  background: inerit;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 90%;
  transition: all 0.25s;
}

/* For tablets */
@media only screen and (min-width: 768px) {
  .main {
    padding: 0 40px;
  }
}

/* For desktop and large devices */
@media only screen and (min-width: 992px) {
  .main {
    padding: 0 50px;
  }
}

.footer {
  display: flex;
  justify-content: center;
}

.footer .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.footer .inner p {
  font-size: 12px;
}
