.experience,
.container,
.experience-content {
  display: flex;
  flex-direction: column;
}

.experience {
  align-items: center;
}

.container,
.experience-item {
  gap: 20px;
}

.container {
  justify-content: center;
  max-width: 700px;
}

.span {
  font-weight: 200;
  color: var(--fc-paragraph);
  min-width: 250px;
  font-size: clamp(0.75rem, 5vw, 1rem);
}

.h2 {
  width: 100%;
}

.h3 {
  width: 100%;
  font-size: clamp(1rem, 5vw, 1.25rem);
}

.p {
  margin-top: 0.5rem;
  font-weight: 200;
}

.experience-item {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .experience-item {
    flex-direction: column;
  }
}

.experience-content {
  gap: 10px;
}

.experience-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.experience-skills li div {
  background: var(--secondary-color);
  border-radius: 5px;
  padding: 0.3rem 1rem;
}

.experience-list li:not(:first-child) .experience-item {
  margin-top: 4rem;
}
